# Sensitive files
**/*.pem
**/*.key
**/*.crt
**/*.csv

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# Node
**/node_modules/

# Python
**/venv/
**/.venv/
__pycache__/
*.pyc

# Java / Spring Boot
**/target/
**/build/
**/.gradle/
*.class

# ✅ IMPORTANT: Allow JAR for Docker
!docker/app1-hello/springboot/hello-spring/target/
!docker/app1-hello/springboot/hello-spring/target/*.jar

# Logs
**/*.log

# Env files
*.env
*.env.*

# IDE
**/.vscode/
**/.idea/

# Misc
*.o
*.so
*.dll
*.exe